@import "tailwindcss";

@theme {
  --color-neutral-2: #c7c7c7;
  --animate-ping-custom: ping-custom 2s ease-in-out infinite;
  @keyframes ping-custom {
    25% {
      opacity: 1;
    }
    75% {
      opacity: 0;
    }
  }
}

@layer utilities {
  .play-button {
    width: 5em;
    min-width: 5em;
    max-width: 5em;
    height: 5em;
    min-height: 5em;
    max-height: 5em;
  }

  .pixelated {
    image-rendering: pixelated;
  }

  .crisp-edges {
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
  }

  .no-spinner::-webkit-outer-spin-button,
  .no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .no-spinner[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}
