@import "tailwindcss";

@theme {
  --color-neutral-2: #c7c7c7;
}

@layer utilities {
  .pixelated {
    image-rendering: pixelated;
  }

  .crisp-edges {
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
  }

  .no-spinner::-webkit-outer-spin-button,
  .no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .no-spinner[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
  }

  .slider-thumb-sm::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: currentColor; /* Uses the accent color */
    cursor: pointer;
  }

  .slider-thumb-sm::-moz-range-thumb {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: currentColor; /* Uses the accent color */
    cursor: pointer;
  }
}
